{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <div class="col-12 col-md-12 col-lg-12 pb-12 text-center">
        <a href="{{ path('contact_index') }}">{{ 'contact.back' | trans }}</a>
    </div>
    <!--Form with header-->
    <div class="col-12 col-md-8 col-lg-6 pb-5">
        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
